/WoordenApplicatie/nbproject/private/
/WoordenApplicatie/build/
/WoordenApplicatie/dist/
/HuffmanOpdracht/nbproject/private/
/HuffmanOpdracht/build/
/HuffmanOpdracht/dist/
/Collections/nbproject/private/
/Collections/dist/
/Collections/build/